<header class="header">
  <div class="container container--relative">
    <div class="header__wrapper">
      <div class="header__buttons header__buttons--m">
        <a class="header__button">мануал по созданию нейрочип-капсулы</a>
        <a class="header__button header__button--black">СИНАПС</a>
      </div>

      <img
        class="header__img header__img--d"
        src="assets/images/header-text.svg"
        alt=""
      />
      <img
        class="header__img header__img--m"
        src="assets/images/header-text-m.svg"
        alt=""
      />

      <div class="header__side">
        <div class="header__buttons header__buttons--d">
          <a class="header__button">мануал по созданию нейрочип-капсулы</a>
          <a class="header__button header__button--black">СИНАПС</a>
        </div>
        <div class="header__notice">
          Конфигуратор навыков <br />
          Будущее уже наступило
        </div>
        <img class="header__body" src="assets/images/body.svg" alt="" />
      </div>
    </div>

    <ul class="header__features">
      <li class="header__features-item">
        <h2 class="header__features-caption">
          <span class="header__features-number">(1)</span>
          настройка когнитивного профиля
        </h2>
        <span class="header__features-text"
          >Определение параметров сознания, формирование базовой
          конфигурации</span
        >
      </li>
      <li class="header__features-item">
        <h2 class="header__features-caption">
          <span class="header__features-number">(2)</span>
          выбор корпуса системы
        </h2>
        <span class="header__features-text"
          >Подбор структуры и функциональных модулей</span
        >
      </li>
      <li class="header__features-item">
        <h2 class="header__features-caption">
          <span class="header__features-number">(3)</span>
          стабилизация ядра
        </h2>
        <span class="header__features-text"
          >Фиксация ключевых параметров системы</span
        >
      </li>
    </ul>

    <div class="header__dot header__dot--1"></div>
    <div class="header__dot header__dot--2"></div>
    <div class="header__dot header__dot--3"></div>
    <div class="header__dot header__dot--4"></div>
    <div class="header__dot header__dot--5"></div>
    <div class="header__dot header__dot--6"></div>
  </div>
</header>
