@use "base/mixins" as mixins;
@use "base/variables" as vars;

.activation {
  position: relative;
  padding: 127px 0 88px 0;
  background-color: #d8dacb;

  &__figure {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #000;
    width: 100%;
    height: 260px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: figureResize 2.6s infinite;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__text-title {
    &--m {
      display: none;
    }
  }

  &__text {
    position: absolute;
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid #000;
    top: -100px;
    font-weight: 700;
    letter-spacing: -8%;
    font-size: 24px;
  }

  &__text-decor {
    margin-top: 108px;
    margin-left: 200px;
    position: relative;
    padding-top: 24px;
    width: max-content;

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 999;
      top: 0;
      left: calc(50% - 6px);
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #000;
    }
  }

  &__text-decor-img {
    &--m {
      display: none;
    }
  }

  &__instruction {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 316px;
    margin-left: auto;
    margin-right: 200px;
    margin-top: -24px;
    padding-top: 24px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 999;
      top: 0;
      left: 0;
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #000;
    }

    & span:first-child {
      font-weight: 700;
    }

    & span:nth-child(2) {
      text-transform: none;
      letter-spacing: -2%;
    }
  }

  &__dot {
    position: absolute;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #000;

    &--1 {
      top: 30%;
      left: 34%;
    }
    &--2 {
      top: 30%;
      left: 54%;
    }
    &--3 {
      top: 30%;
      left: 74%;
    }
    &--4 {
      top: 70%;
      left: 14%;
    }
  }

  &__game {
    position: relative;
    display: flex;
    z-index: 99;
    max-width: 1328px;
    // margin: 0 auto;
    opacity: 1;
    transition: opacity 0.3s;
    pointer-events: auto;
  }

  &__game-wrapper {
    display: contents;
  }

  canvas {
    width: 100%;
    max-width: 1328px;
    margin: 0 auto;
    height: auto;
    touch-action: none;
  }

  &__finish {
    position: absolute;
    right: -170px;
    bottom: 50%;
    transform: translateY(70%) rotate(4deg);
    height: 172px;
    pointer-events: none;
  }

  &__start {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #eb631c1a;
    pointer-events: none;
    transition: transform 0.3s;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      aspect-ratio: 1;
      border-radius: 50%;
      left: calc(50% - 40px);
      top: calc(50% - 40px);
      background-color: #eb631c1a;
    }

    &.is-active {
      transform: scale(0);
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 25px 0;
    margin-top: 40px;
    text-transform: uppercase;
    pointer-events: none;
    opacity: 1;
    transition:
      color 0.3s,
      background-color 0.3s,
      opacity 0.3s;
  }

  &__message {
    z-index: 1000;
    position: absolute;
    top: calc(50% + 160px);
    color: #01fe48;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    & span {
      font-size: 90px;
      font-weight: bold;
      -webkit-text-stroke: 1px black;
    }
  }
}

@keyframes figureResize {
  0% {
    width: 100%;
    height: 260px;
  }
  35% {
    width: 20%;
    height: 52px;
  }
  45% {
    width: 10%;
    height: 26px;
  }
  52% {
    width: 18%;
    height: 46px;
  }
  58% {
    width: 11%;
    height: 30px;
  }
  64% {
    width: 14%;
    height: 36px;
  }
  70% {
    width: 10%;
    height: 26px;
  }
  80% {
    width: 10%;
    height: 26px;
  }
  100% {
    width: 100%;
    height: 260px;
  }
}

body.is-success {
  & .activation__message {
    opacity: 1;
    pointer-events: auto;
  }

  & .activation__game {
    opacity: 0;
    pointer-events: none;
  }

  & .activation__button {
    background-color: #01fe48;
    color: #000;
    pointer-events: auto;
    z-index: 999;

    transform: translateY(-10vh);

    @media #{vars.$xsmall} {
      transform: translateY(-30vh);
    }
  }
}

body.is-activated {
  & .activation__button {
    opacity: 0;
  }
}

@media #{vars.$normal} {
  .activation {
    &__instruction {
      margin-top: 30px;
    }
  }
}

@media #{vars.$small} {
  .activation {
    &__text-title {
      &--m {
        display: block;
      }
      &--d {
        display: none;
      }
    }

    &__figure {
      border: 1px solid #000;
    }

    &__text-decor {
      margin-top: 108px;
      margin-left: auto;
      margin-right: 20px;
    }

    &__instruction {
      margin: 50px 0 50px 0;
    }
  }
}

@media #{vars.$xsmall} {
  .activation {
    padding: 100px 0 20px 0;

    &__text {
      padding: 4px 12px;
      letter-spacing: -6%;
      font-size: 16px;
    }

    &__game {
      max-width: 358px;
      height: 712px;
    }

    &__button {
      margin-top: 70px;
    }

    &__text-decor {
      width: 289px;
      margin-left: auto;
      margin-right: 0;
      margin-top: 80px;

      &::before {
        width: 8px;
      }
    }

    &__instruction {
      &::before {
        width: 8px;
      }
    }

    &__text-decor-img {
      &--d {
        display: none;
      }
      &--m {
        display: block;
      }
    }

    &__message {
      & span {
        font-size: 44px;
      }
    }

    &__finish {
      position: absolute;
      right: 70px;
      bottom: -64px;
      transform: rotate(95deg);
      height: 129px;
      pointer-events: none;
    }

    &__start {
      top: 4px;
      left: auto;
      right: -32px;
      width: 140px;

      &::before {
        width: 70px;
        left: calc(50% - 35px);
        top: calc(50% - 35px);
      }

      &.is-active {
        transform: scale(0);
      }
    }
  }
}
