@use "base/mixins" as mixins;
@use "base/variables" as vars;

.activation {
  position: relative;
  padding: 127px 0 140px 0;
  background-color: #d8dacb;
  //   background: linear-gradient(180deg, #d8dacb 0%, #ec5a0f 100%);

  &__figure {
    position: absolute;
    top: -30px;
    left: 0;
    border: 2px solid #000;
    width: 100%;
    height: 260px;
    border-radius: 50%;
    animation: heightBounceActivation 3s ease-in-out infinite;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__text {
    position: absolute;
    padding: 8px 16px;
    border-radius: 40px;
    border: 1px solid #000;
    top: -100px;
  }

  &__text-decor {
    margin-top: 108px;
    margin-left: 25%;
  }

  &__instruction {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 316px;
    margin-left: auto;
    margin-right: 200px;

    & span:first-child {
      font-weight: 700;
    }

    & span:nth-child(2) {
      text-transform: none;
    }
  }

  &__dot {
    position: absolute;
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #000;

    &--1 {
      top: 30%;
      left: 34%;
    }
    &--2 {
      top: 30%;
      left: 54%;
    }
    &--3 {
      top: 30%;
      left: 74%;
    }
    &--4 {
      top: 70%;
      left: 14%;
    }
  }

  &__game {
    position: relative;
    display: flex;
    z-index: 99;
    max-width: 1328px;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 0.3s;
    pointer-events: auto;
  }

  canvas {
    width: 100%;
    max-width: 1328px;
    margin: 0 auto;
    height: auto;
    touch-action: none;
  }

  &__finish {
    position: absolute;
    right: -140px;
    bottom: 50%;
    transform: translateY(70%);
    // width: 56px;
    height: 172px;
    pointer-events: none;
  }

  &__start {
    position: absolute;
    top: 10px;
    left: 64px;
    width: 160px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #eb631c1a;
    pointer-events: none;
    transition: transform 0.3s;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 80px;
      aspect-ratio: 1;
      border-radius: 50%;
      left: calc(50% - 40px);
      top: calc(50% - 40px);
      background-color: #eb631c1a;
    }

    &.is-active {
      transform: scale(0);
    }
  }

  &__button {
    position: relative;
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 25px 0;
    margin-top: 40px;
    text-transform: uppercase;
    pointer-events: none;
    opacity: 1;
    transition:
      color 0.3s,
      background-color 0.3s,
      opacity 0.3s;
  }

  &__message {
    z-index: 1000;
    position: absolute;
    top: calc(50% + 160px);
    color: #01fe48;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;

    & span {
      font-size: 90px;
      font-weight: bold;
      -webkit-text-stroke: 1px black;
    }
  }
}

@keyframes heightBounceActivation {
  0% {
    height: 270px;
  }
  50% {
    height: 50px;
  }
  100% {
    height: 270px;
  }
}

body.is-success {
  overflow: hidden;

  & .activation__message {
    opacity: 1;
    pointer-events: auto;
  }

  & .activation__game {
    opacity: 0;
    pointer-events: none;
  }

  & .activation__button {
    background-color: #01fe48;
    color: #000;
    pointer-events: auto;
    z-index: 999;
  }
}

body.is-activated {
  & .activation__button {
    opacity: 0;
  }
}
