@use "base/mixins" as mixins;
@use "base/variables" as vars;

.footer {
  position: relative;
  height: 154px;
  display: flex;
  align-items: center;

  & .footer__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    object-fit: cover;
  }

  & span {
    font-size: 24px;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    padding: 20px 0;
    font-weight: 600;
    font-size: 24px;
    justify-content: space-between;
    text-transform: uppercase;
  }
}

.top-gradient {
  position: absolute;
  transform: rotate(180deg);
  pointer-events: none;
  bottom: 0;
  width: 100vw;
  height: 100%;
  background: linear-gradient(180deg, #d8dacb 0%, #ec5a0f 100%);
}

@media #{vars.$medium} {
  .footer {
    height: 255px;
    &__wrapper {
      flex-direction: column;
      gap: 32px;
    }
  }
}
