@use "base/mixins" as mixins;
@use "base/variables" as vars;

.profile {
  padding: 80px 0;
  background-color: #d8dacb;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__header-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 316px;
    margin-top: 140px;

    & span:first-child {
      font-weight: 700;
    }

    & span:nth-child(2) {
      text-transform: none;
    }
  }

  &__board {
    margin-top: -230px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
  }

  &__state {
    position: relative;
    height: 1100px;
    width: 1440px;
    flex-shrink: 0;
    pointer-events: none;
  }

  &__state-img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.3s;

    &.is-active {
      opacity: 1;
    }
  }

  &__cards {
    padding-top: 200px;
    position: absolute;
    left: -30px;

    &--right {
      left: auto;
      right: -30px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    width: 294px;
    height: 137px;
    cursor: grab;
    transition:
      background-color 0.3s,
      color 0.3s,
      border-color 0.3s;

    transform: var(--card-transform, none);

    &.is-active {
      background-color: #01fe48;
      color: #000;
      border-color: #01fe48;
    }

    &.dragging {
      position: absolute;
      z-index: 1000;
      cursor: grabbing;
      opacity: 0.9;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      top: 12px;
      left: 12px;
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    &--1 {
      --card-transform: rotate(-6deg) translateX(130px);
    }
    &--2 {
      --card-transform: rotate(-10deg) translateX(120px);
    }
    &--3 {
      --card-transform: rotate(7deg) translateX(100px);
    }
    &--4 {
      --card-transform: rotate(-2deg) translateX(100px);
    }
    &--5 {
      --card-transform: rotate(5deg) translateX(-140px);
    }
    &--6 {
      --card-transform: rotate(-8deg) translateX(-120px);
    }
    &--7 {
      --card-transform: rotate(7deg) translateX(-100px);
    }
    &--8 {
      --card-transform: rotate(2deg) translateX(-100px);
    }
  }
}

@media #{vars.$normal} {
  .profile {
    &__header {
      flex-direction: column;
    }

    &__header-content {
      width: 100%;
      margin-top: 40px;
    }

    &__board {
      margin-top: 0;
    }

    &__cards {
      left: -60px;

      &--right {
        left: auto;
        right: -60px;
      }
    }
  }
}

@media #{vars.$normal} {
  .profile {
    &__board {
      padding-top: 300px;
      position: relative;
      width: calc(100% + 40px);
      margin-left: -20px;
    }

    &__state {
      height: 459px;
      aspect-ratio: 1;
    }

    &__cards {
      left: 50%;
      padding-top: 0;
      position: absolute;
      top: 40px;

      &--right {
        left: auto;
        right: 50%;
      }
    }

    &__card {
      width: 220px;
      height: 70px;
      font-size: 12px;

      &--1 {
        --card-transform: rotate(11deg) translateX(0px) translateY(10px);
      }
      &--2 {
        --card-transform: rotate(8deg) translateX(0px);
      }
      &--3 {
        --card-transform: rotate(-7deg) translateX(0px) translateY(-10px);
      }
      &--4 {
        --card-transform: rotate(-2deg) translateX(0px) translateY(-10px);
      }
      &--5 {
        --card-transform: rotate(-5deg) translateX(20px);
      }
      &--6 {
        --card-transform: rotate(-8deg) translateX(10px);
      }
      &--7 {
        --card-transform: rotate(3deg) translateX(18px) translateY(-10px);
      }
      &--8 {
        --card-transform: rotate(-3deg) translateX(0px) translateY(-10px);
      }
    }
  }
}
