@use "base/mixins" as mixins;
@use "base/variables" as vars;

.profile {
  padding: 80px 0;
  background-color: #d8dacb;

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__text-decor {
    position: relative;
    padding-top: 24px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 999;
      top: 0;
      left: calc(50% - 6px);
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #000;
    }
  }

  &__header-content {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
    width: 316px;
    margin-top: 140px;
    padding-top: 24px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 999;
      top: 0;
      left: 0;
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;
      background-color: #000;
    }

    & span:first-child {
      font-weight: 700;
    }

    & span:nth-child(2) {
      text-transform: none;
      letter-spacing: -2%;
    }
  }

  &__board {
    margin-top: -400px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #000;
  }

  &__state {
    position: relative;
    height: 1100px;
    width: 1440px;
    flex-shrink: 0;
    pointer-events: none;
  }

  &__state-img {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity 0.3s;

    &.is-active {
      opacity: 1;
    }
  }

  &__cards {
    padding-top: 400px;
    position: absolute;
    left: -30px;

    &--right {
      left: auto;
      right: -30px;
    }
  }

  &__card {
    position: relative;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    border: 1px solid #fff;
    background-color: #000;
    color: #fff;
    width: 294px;
    height: 137px;
    cursor: grab;
    transition:
      background-color 0.3s,
      color 0.3s,
      border-color 0.3s;

    transform: var(--card-transform, none);

    &.is-active {
      background-color: #01fe48;
      color: #000;
      border-color: #01fe48;
    }

    &.dragging {
      position: absolute;
      z-index: 1000;
      cursor: grabbing;
      opacity: 0.9;
    }

    &::before {
      content: "";
      position: absolute;
      display: block;
      background-color: #fff;
      top: 12px;
      left: 12px;
      width: 12px;
      aspect-ratio: 1;
      border-radius: 50%;
    }

    &--1 {
      --card-transform: rotate(-6deg) translateY(-20px) translateX(150px);
    }
    &--2 {
      --card-transform: rotate(-10deg) translateX(120px);
    }
    &--3 {
      --card-transform: rotate(7deg) translateX(100px) translateY(-20px);
    }
    &--4 {
      --card-transform: rotate(-5deg) translateX(100px) translateY(-11px);
    }
    &--5 {
      --card-transform: rotate(5deg) translateX(-140px);
    }
    &--6 {
      --card-transform: rotate(-8deg) translateX(-120px);
    }
    &--7 {
      --card-transform: rotate(7deg) translateX(-100px);
    }
    &--8 {
      --card-transform: rotate(2deg) translateX(-100px);
    }
  }
}
@media #{vars.$medium} {
  .profile {
    &__header {
      flex-direction: column;
    }
  }
}

@media #{vars.$small} {
  .profile {
    padding-top: 0;

    &__board {
      position: relative;
      margin-top: 0;
      padding-top: 100px;

      &::before {
        content: "";
        position: absolute;
        bottom: -2px;
        width: 100vw;
        height: 2px;
        background-color: #000;
      }
    }

    &__text-decor {
      width: max-content;
      margin-left: auto;

      & img {
        width: 486px;
        height: 141px;
      }
    }

    &__header-content {
      margin-top: 32px;
    }

    &__state {
      height: 828px;
      margin-top: -80px;
    }

    &__state-img {
      height: 695px;
      top: auto;
      bottom: 0;
    }

    &__cards {
      padding-top: 0;
      position: absolute;
      left: 0;

      &--right {
        left: auto;
        right: 0;
      }
    }

    &__card {
      &--1 {
        --card-transform: rotate(12deg) translateX(-70px) translateY(-120px);
      }
      &--2 {
        --card-transform: rotate(-2deg) translateX(-70px) translateY(-150px);
      }
      &--3 {
        --card-transform: rotate(7deg) translateX(-90px) translateY(-160px);
      }
      &--4 {
        --card-transform: rotate(-12deg) translateX(-80px) translateY(-210px);
      }
      &--5 {
        --card-transform: rotate(5deg) translateX(60px) translateY(-120px);
      }
      &--6 {
        --card-transform: rotate(-8deg) translateX(80px) translateY(-140px);
      }
      &--7 {
        --card-transform: rotate(7deg) translateX(50px) translateY(-180px);
      }
      &--8 {
        --card-transform: rotate(-4deg) translateX(140px) translateY(-210px);
      }
    }
  }
}

@media #{vars.$xsmall} {
  .profile {
    padding-top: 0;

    &__header-content {
      width: 100%;
      margin-top: 40px;
    }

    &__board {
      margin-top: 0;
      padding-top: 300px;
      position: relative;
      width: calc(100% + 40px);
      margin-left: -20px;

      &::before {
        display: none;
      }
    }

    &__state {
      height: 459px;
      aspect-ratio: 1;
      margin-top: -40px;
    }

    &__state-img {
      height: 100%;
    }

    &__cards {
      left: 50%;
      padding-top: 0;
      position: absolute;
      top: 40px;

      &--right {
        left: auto;
        right: 50%;
      }
    }

    &__card {
      width: 220px;
      height: 70px;
      font-size: 12px;

      &--1 {
        --card-transform: rotate(3deg) translateX(-210px) translateY(50px);
      }
      &--2 {
        --card-transform: rotate(-3deg) translateX(-232px) translateY(22px);
      }
      &--3 {
        --card-transform: rotate(7deg) translateX(-10px) translateY(-30px);
      }
      &--4 {
        --card-transform: rotate(6deg) translateX(-260px) translateY(22px);
      }
      &--5 {
        --card-transform: rotate(5deg) translateX(160px) translateY(-24px);
      }
      &--6 {
        --card-transform: rotate(3deg) translateX(270px) translateY(98px);
      }
      &--7 {
        --card-transform: rotate(-8deg) translateX(118px) translateY(30px);
      }
      &--8 {
        --card-transform: rotate(-3deg) translateX(240px) translateY(-160px);
      }
    }

    &__header-content {
      margin-top: 30px;
      margin-bottom: 40px;
    }

    &__text-decor {
      width: 285px;
      margin-left: auto;
    }

    &__text-decor,
    &__header-content {
      &::before {
        width: 8px;
      }
    }
  }
}
